body {
    background-image: url('images/backg.jpeg');
    background-size: cover;
    height: 100vh;
    background-repeat:no-repeat;
    background-position:top center;
    margin:0;
    padding:0;
}

#imagecontainer {
    position: relative;
    top: 25vh;
    height: 20vh;
    background-image: url('images/image.jpeg');
    background-repeat:no-repeat;
    background-position: center;
}

#header {
    position: relative;
    top: 25vh;
    height: 20vh;
    background-color: none;
    display: flex;
    align-items: center;
}

#header-text {
    width: 100%;
    background-color: white;
    border-color: black;
    border-style: solid;
    text-align: center;
}
